<template>
  <router-view/>
  <footer>3TP - Assontia / Vanelle / Lassiaz</footer>
</template>

<script>
import Header from '@/components/Header.vue'

export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#title {
    font-family: Copperplate, Papyrus, fantasy;
    text-align: center;
}

body {
    background-color: beige;
    color: gray;
    font-size:large
}

footer {
    text-align: end;
}

.container {
    padding: 30px;
    text-align: center;
    font-family: Copperplate, Papyrus, fantasy;
}

.conn {
    background-color: grey;
    color: white;
    display: inline-block;
    padding: 25px 50px;
    border-radius: 5%;
}

.input {
    padding: 10px;
    margin: 10px;
    font-family: Copperplate, Papyrus, fantasy;
}
</style>
