<template>
<fieldset>
  <legend>Booking management :</legend>
    <div class = "container">
      <div class="field">
        <div>
          <label for="project_id">Project :</label>
          <select v-model="booking_project_id" required id="project_id">
            <option :value="project[0]" name="project_id" v-for="(project) in projects">{{ project[1] }}</option>
          </select><br>
        </div>
        <div>
          <label for="time">Time :</label>
          <input v-model="booking_time" type="text" required id="time"/>
        </div>
        <div>
          <label for="period">Period :</label>
          <input v-model="booking_period" type="text" required/>
        </div>
        <div>
          <label for="comment">Comment :</label>
          <input v-model="comment" type="text" id="comment"/>
        </div>
      </div>
      <div class="btn">
        <input @click="add" type="submit" value="ADD"/>
        <input @click="get(idbooking)" type="submit" value="GET"/> 
        <input @click="update(idbooking)" type="submit" value="UPDATE"/>
      </div>
    </div>
  </fieldset>
</template>

<script>
import axios from 'axios';

export default {
  name: 'addBooking',
  props: {
    projects: Array,
    idbooking: Number,
    iduser: Number
  },
  data() {
    return {
      booking_user_id:"",
      booking_project_id:"",
      booking_time:"",
      booking_period:"",
      comment:"",
      booking_status: "OK"
    }
  },
  methods: {
    add() {
      axios.post('http://localhost:8082/bookings', {
        id_user: this.iduser,
        id_project: this.booking_project_id,
        duration: this.booking_time,
        booking_period: this.booking_period,
        comment: this.comment
      })
      .then(function (response) {
        console.log(response);
      })
    },
    update(id) {
      axios.put('http://localhost:8082/bookings/'+id+'', {
        id_user: this.iduser,
        id_project: this.booking_project_id,
        duration: this.booking_time,
        booking_period: this.booking_period,
        booking_status: this.booking_status,
        comment: this.comment
      })
      .then(function (response) {
        console.log(response);
      })
    },
    get(id) {
      console.log('http://localhost:8082/bookings/'+id+'');
      axios.get('http://localhost:8082/bookings/'+id+'')
      .then(res=>{
        console.log(res.data)
        console.log(res.data.id_user);
        this.booking_user_id = res.data.idUser;
        this.booking_project_id = res.data.id_project;
        this.booking_time = res.data.duration;
        this.booking_period = res.data.booking_period;
        this.comment = res.comment;
      })
      .catch(function (error) {
        // handle error
        console.log(error);
      });
    }
  },
  mounted: function () {
    // 
  }
}
</script>

<style scoped>
/*Blocks*/

.container > div {
    padding: 5px;
}

/*CSS Grid*/

.field {
  text-align: right;
  grid-area: field;
}

.btn {
  text-align: left;
  grid-area: btn;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 10px;
    row-gap: 15px;
    grid-template-areas: 
        "field btn";
}

fieldset {
  margin-bottom: 15px;
  padding: 10px;
}
 
legend {
  padding: 0px 3px;
  font-weight: bold;
  font-variant: small-caps;
}
 
label {
  width: 110px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
}

input[type=submit] {
  width: 100px;
  padding: 5px;
  margin: 8px;
  display: block;
}

</style>