<template>
  <fieldset>
    <legend>Project management :</legend>
    <div class = "container">
      <div class="field">
        <div>
          <label for="time">Project technical name  :</label>
          <input v-model="technical_name" type="text" required id="time"/>
        </div>
        <div>
          <label for="period">Project functionnal name :</label>
          <input v-model="functionnal_name" type="text" required/>
        </div>
      </div>
      <div class="btn">
        <input @click="add" type="submit" value="ADD"/>
      </div>
    </div>
  </fieldset>
</template>

<script>
import axios from 'axios';

export default {
  name: 'addProject',
  props: {
    projects: Array,
    idbooking: Number,
    iduser: Number
  },
  data() {
    return {
      technical_name:"",
      functionnal_name:"",
    }
  },
  methods: {
    add() {
      let xmls=`<x:Envelope xmlns:x="http://schemas.xmlsoap.org/soap/envelope/" xmlns:pro="http://spring.wsProject.com/project">
        <x:Header/>
          <x:Body>
            <pro:createProjectRequest>
                <pro:technicalName>`+this.technical_name+`</pro:technicalName>
                <pro:functionalName>`+this.functionnal_name+`</pro:functionalName>
            </pro:createProjectRequest>
          </x:Body>
        </x:Envelope>`;

      axios.post('http://localhost:8083/ws/project.wsdl',
      xmls,
      {headers:
          { 
              'Content-Type': 'text/xml'
          }
      }).then(res=>{
          console.log(res);
      });
    }
  },
  mounted: function () {
    // 
  }
}
</script>

<style scoped>
/*Blocks*/

.container > div {
    padding: 5px;
}

/*CSS Grid*/

.field {
  text-align: left;
  grid-area: field;
}

.btn {
  text-align: left;
  grid-area: btn;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 10px;
    row-gap: 15px;
    grid-template-areas: 
        "field btn";
}

fieldset {
  margin-bottom: 15px;
  padding: 10px;
}
 
legend {
  padding: 0px 3px;
  font-weight: bold;
  font-variant: small-caps;
}
 
label {
  width: 110px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
}

input[type=submit] {
  width: 100px;
  padding: 5px;
  margin: 8px;
  display: inline-block;
}

</style>