<template>
<div>
  <div v-on:click="stop" style="float:right; text-align:center; padding:5px; font-size: 0.8em;">
    <img src="../assets/btn_logo.png" alt="disconnect button" style="width: 50px; height: 50px;"> <br>
    log out<br>{{ user }}
  </div>
  <h1>3TP Cockpit</h1>
</div>
</template>

<script>
export default {
  name: 'Header',
  props: {
    user: String
  },
  methods: {
    stop() {
      this.$router.push('/');
    }
  }
}
</script>