<template>
  <div class="container">
    <div class="booking-zone">
      <addBooking :projects="projects" :idbooking="booking_to_update" :iduser="id" />
    </div>
    <div class="user-bookings">
      <fieldset>
        <legend>Last bookings :</legend>
        <div id="records">
          <table id="table">
          <thead>
              <tr>
                <th> Modify </th>
                <th>Project</th>
                <th>Time</th>
                <th>Period</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
                <tr v-for="(booking) in bookings">
                  <td><input type="radio" :value="booking.id" v-model="booking_to_update" /></td>
                  <td>{{ booking.id_project }}</td>
                  <td>{{ booking.duration }}</td>
                  <td>{{ booking.booking_period }}</td>
                  <td>{{ booking.booking_status }}</td>
                </tr>
            </tbody>
          </table>
        </div>
      </fieldset>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { DOMParserImpl as dom } from 'xmldom-ts';
import * as xpath from 'xpath-ts'; 

import addBooking from '@/components/addBooking.vue'

export default {
  name: 'TimeMgt',
  props: {
    id: Number
  },
  data() {
    return {
      projects: [],
      bookings: [],
      booking_to_update: ""
    }
  },
  components: {
      addBooking
  },
  mounted: function () {
    let xmls=`<x:Envelope xmlns:x="http://schemas.xmlsoap.org/soap/envelope/" xmlns:pro="http://spring.wsProject.com/project">
    <x:Header/>
    <x:Body>
        <pro:getAllProjectsRequest></pro:getAllProjectsRequest>
    </x:Body>
    </x:Envelope>`;

    axios.post('http://localhost:8083/ws/project.wsdl',
      xmls,
      {headers:
          { 
              'Content-Type': 'text/xml'
          }
      }).then(res=>{
        const doc = new dom().parseFromString(res.data);
        const allProject = xpath.select("//*[local-name()='getAllProjectsResponse']", doc);
        var nb_attr = (allProject[0].childNodes[0].childNodes.length)

        for (const project of allProject[0].childNodes) {
          var newProject = new Object();
          for(let i = 0 ; i < nb_attr; i++ ){
              newProject[i] = project.childNodes[i].firstChild.data
          }
          this.projects.push(newProject);
        }

      }).catch(err=>{console.log(err)});

      axios.get('http://localhost:8082/bookings')
      .then(res=>{
        console.log(res.data)
        res.data.forEach(element => {
            this.bookings.push(element);
        });
        
      })
      .catch(function (error) {
        // handle error
        console.log(error);
      });

  }
}
</script>

<style scoped>
/*Blocks*/
h2 {
  display: table-cell;
  vertical-align: top
}

#records {
  text-align: left;
}

.container > div {
    background-color : gray;
    padding: 25px;
}

/*CSS Grid*/
.booking-zone {
    grid-area: booking;
}
.user-bookings {
    grid-area: booking-list;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 10px;
    row-gap: 15px;
    grid-template-areas: 
        "booking booking booking booking"
        "booking-list booking-list booking-list booking-list";
}

fieldset {
  margin-bottom: 15px;
  padding: 25px;
}

table {
 border-collapse:collapse;
 width:100%;
}
th, td {
 border:1px solid black;
 width:10%;
 text-align:center;
}
td {
 text-align:center;
}

/* Responsive */
@media (max-width: 640px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "booking booking" 
            "booking-list booking-list"
            "projects-list projects-list";
    }
  }
</style>