<template>
  <Header user="" />
	<body>
		<div>
            <div class="container">
                <div class="conn">
                    <h2>
                        Connexion
                    </h2>
                    <label class="label" for="login">Login : </label><br>
                    <input class="input" name="login" v-model="login" type="text"><br>
                    <label class="label" for="pass">Password : </label><br>
                    <input class="input" name="pass" v-model="pass" type="password"><br>
                    <button class="input" v-on:click="conn">connexion</button>
                </div>
            </div>
		</div>
	</body>
</template>

<script>
import axios from 'axios';
import { DOMParserImpl as dom } from 'xmldom-ts';
import * as xpath from 'xpath-ts'; 

import Header from '@/components/Header.vue'
import rooter from '@/router/index.js'

export default {
    name: 'Home',
    data() {
		return {
			login:"",
            user_id: "",
            role:"",
            active:"",
            username:"",
            connectionStatus:""
		}
	},
    components: {
      Header
    },
    methods: {
        conn() {
            let xmls=`<x:Envelope
                xmlns:x="http://schemas.xmlsoap.org/soap/envelope/"
                xmlns:use="http://spring.wsProject.com/users">
                <x:Header/>
                <x:Body>
                    <use:loginUserRequest>
                        <use:userCredentials>
                            <use:userName>`+this.login+`</use:userName>
                            <use:password>`+this.pass+`</use:password>
                        </use:userCredentials>
                    </use:loginUserRequest>
                </x:Body>
            </x:Envelope>`;

            axios.post('http://localhost:8084/ws/users.wsdl',
            xmls,
            {headers:
                { 
                    'Content-Type': 'text/xml'
                }
            }).then(res=>{
                console.log(res);

                const doc = new dom().parseFromString(res.data);

                const loginStatus_node = xpath.select("//*[local-name()='loginStatus']", doc);
                this.connectionStatus = loginStatus_node[0].firstChild.data;

                const user_id_node = xpath.select("//*[local-name()='userId']", doc);
                this.user_id = user_id_node[0].firstChild.data;

                const role_node = xpath.select("//*[local-name()='userRole']", doc);
                this.role = role_node[0].firstChild.data;

                const active_node = xpath.select("//*[local-name()='active']", doc);
                this.active = active_node[0].firstChild.data;

                const user_node = xpath.select("//*[local-name()='userName']", doc);
                this.username = user_node[0].firstChild.data;

                if (this.connectionStatus === "true" && this.active === "true") {
                    if (this.role == "MANAGER"){
                        //this.$router.push('/manager');
                        this.$router.push({ name: 'Manager', params: { login: this.username, id: this.user_id}})                        
                    } else {
                        this.$router.push({ name: 'Time', params: { login: this.username, id: this.user_id}})    
                    }
                } else {
                    this.$router.push('/refused');
                }
            }).catch(err=>{console.log(err)});
        }
    }
}

</script>
