<template>
	<Header :user="$route.params.login"/>
	<div id="nav">
      <router-link :to="{  name: 'Time', params: { login: login, id: user_id } }">Home Page</router-link> |
      <router-link :to="{  name: 'Manager', params: { login: login, id: user_id } }">Manager</router-link>
  </div>
  <b>Hello {{ login }}, your are in the manager panel :</b>
  <div class="container">
      <div class="projects-list">
        <fieldset>
        <legend> Projects :</legend>
            <table border="1" width="100%">
          <thead>
            <tr>
            <th>Project</th>
            <th>Time</th>
            <th>Period</th>
            <th>Status</th>
            </tr>
          </thead>
            <tbody>
              <tr v-for="(project) in projects">
              <td>{{ project[0] }}</td>
              <td>{{ project[1] }}</td>
              <td>{{ project[2] }}</td>
              <td>{{ project[3] }}</td>
              </tr>
            </tbody>
          </table>
      </fieldset>
    </div>
    <div class="project">
        <addProject/>
    </div>
  </div>
</template>

<script>
import Header from '@/components/Header.vue'
import addProject from '@/components/addProject.vue'

import axios from 'axios';
import { DOMParserImpl as dom } from 'xmldom-ts';
import * as xpath from 'xpath-ts'; 


export default {
	name: 'Manager',
	data() {
		return {
			projects : [],
      login: "",
      user_id: ""
		}
	},
	components: {
      Header, addProject
 	},
	mounted: function () {
    this.login = this.$route.params.login;
		this.user_id = this.$route.params.id;
		console.log(this.user_id);
    
    if(typeof this.login == 'undefined'){
			console.log("PAS CONNECTE");
			this.$router.push('/');
		 }

    let xmls=`<x:Envelope xmlns:x="http://schemas.xmlsoap.org/soap/envelope/" xmlns:pro="http://spring.wsProject.com/project">
    <x:Header/>
    <x:Body>
        <pro:getAllProjectsRequest></pro:getAllProjectsRequest>
    </x:Body>
    </x:Envelope>`;

    axios.post('http://localhost:8083/ws/project.wsdl',
      xmls,
      {headers:
          { 
              'Content-Type': 'text/xml'
          }
      }).then(res=>{
        console.log(res);
        const doc = new dom().parseFromString(res.data);
        const allProject = xpath.select("//*[local-name()='getAllProjectsResponse']", doc);
        console.log(allProject);
        var nb_attr = (allProject[0].childNodes[0].childNodes.length)
        console.log(nb_attr);
        for (const project of allProject[0].childNodes) {
          var newProject = new Object();
          for(let i = 0 ; i < nb_attr; i++ ){
              newProject[i] = project.childNodes[i].firstChild.data
          }
          this.projects.push(newProject);
        }

      }).catch(err=>{console.log(err)});
  }
}
</script>

<style scoped>
/*Blocks*/
h2 {
  display: table-cell;
  vertical-align: top
}


.container > div {
    background-color : gray;
    padding: 25px;
}

/*CSS Grid*/


.projects-list {
    grid-area: projects-list;
    background-color : gray;
    padding: 25px;
}

.project {
    grid-area: project;
    background-color : gray;
    padding: 25px;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    row-gap: 15px;
    grid-template-areas: 
        "projects-list projects-list"
        "project project";
}

/* Responsive */
@media (max-width: 640px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "projects-list projects-list"
            "project project";
    }
  }

  fieldset {
  margin-bottom: 15px;
  padding: 25px;
}

table {
 border-collapse:collapse;
 width:100%;
}
th, td {
 border:1px solid black;
 width:10%;
 text-align:center;
}
td {
 text-align:center;
}
</style>

