<template>
  	<Header user="" />
	<h1>Connexion refused !</h1>
	<router-link :to="{  name: 'Home'}">Home Page</router-link>
</template>

<script>
import Header from '@/components/Header.vue'

export default {
	name: 'Refused',
	components: {
      Header
 	}
}
</script>
