<template>
	<Header :user="$route.params.login"/>
	<div id="nav">
      <router-link :to="{  name: 'Time', params: { login: login, id: user_id } }">Home Page</router-link> |
      <router-link :to="{  name: 'Manager', params: { login: login, id: user_id } }">Manager</router-link>
  	</div>
	<TimeMgt :id="user_id" />
</template>

<script>
import Header from '@/components/Header.vue'
import TimeMgt from '@/components/TimeMgt.vue'

export default {
	name: 'Time',
	data() {
		return {
			login:"",
			user_id:""
		}
	},
	components: {
      Header, TimeMgt
 	},
	 mounted: function() {
		this.login = this.$route.params.login;
		this.user_id = this.$route.params.id;
		console.log(this.user_id);
		if(typeof this.login == 'undefined'){
		console.log("PAS CONNECTE");
		this.$router.push('/refused');
		}
	 },
}
</script>

